In [1]:
import os
import pandas as pd

In [2]:
## Definir archivos para extraer las variables

In [3]:
variable_path_base = r'../data/variables'
#variable_files_extract = ['pluviografica_PTPM_CON_res.zip', 'pluviografica_res.zip', 'pluviometrica_res.zip']
#variable_files_extract = ['climatica_ordinaria_res.zip', 'climatica_principal_res.zip']
variable_files_extract = ['limnigrafica_PT_10_TT_D_res.zip', 'limnigrafica_res.zip', 'limnimetrica_res.zip']

In [4]:
variable_path_base = os.path.join(*variable_path_base.split('/'))
variable_path_files_extract = [os.path.join(variable_path_base, f) for f in variable_files_extract]
variable_path_files_extract
#variable_files_path = f'{profiles_path_base}/*{profile_variable}_estacion_year.csv'
#print('Perfiles:', profile_files_path)

['..\\data\\variables\\limnigrafica_PT_10_TT_D_res.zip',
 '..\\data\\variables\\limnigrafica_res.zip',
 '..\\data\\variables\\limnimetrica_res.zip']

## Configurar qué columnas y con qué tipos de datos se cargaran

In [5]:
dtypes = {
    #'CodigoEstacion':'category',
    #'IdParametro':'category',
    #'Etiqueta':'category',
    #'DescripcionSerie':'category',
    #'Frecuencia':'category',
    #'Grado':'category',
    #'Calificador':'category',
    #'NivelAprobacion':'category',
    'Fecha': 'string',
}

usecols = {
    'CodigoEstacion',
    #'IdParametro',
    'Etiqueta',
    #'DescripcionSerie',
    #'Frecuencia',
    'Fecha',
    'Valor'
    #'Grado',
    #'Calificador',
    #'NivelAprobacion'
}

In [6]:
df = pd.concat([pd.read_csv(f, dtype = dtypes, usecols = usecols) for f in variable_path_files_extract], axis = 0)

In [7]:
df['CodigoEstacion'] = df['CodigoEstacion'].astype('category')
df['Etiqueta'] = df['Etiqueta'].astype('category')

In [8]:
print(df.shape)
print(df.Etiqueta.cat.categories)
print(df.dtypes)
print(df.info())
df.head()

(10247989, 4)
Index(['PT_10_TT_D', 'Q_MEDIA_D', 'Q_MN_D', 'Q_MX_D'], dtype='object')
CodigoEstacion    category
Etiqueta          category
Fecha               string
Valor              float64
dtype: object
<class 'pandas.core.frame.DataFrame'>
Int64Index: 10247989 entries, 0 to 3826628
Data columns (total 4 columns):
 #   Column          Dtype
---  ------          -----
 0   CodigoEstacion  category
 1   Etiqueta        category
 2   Fecha           string
 3   Valor           float64
dtypes: category(2), float64(1), string(1)
memory usage: 263.9 MB
None

  CodigoEstacion    Etiqueta             Fecha  Valor
0       13067020  PT_10_TT_D  2015-05-29 00:00   0.57
1       13067020  PT_10_TT_D  2015-05-30 00:00   0.08
2       13067020  PT_10_TT_D  2015-05-31 00:00   0.31
3       13067020  PT_10_TT_D  2015-06-01 00:00   4.06
4       13067020  PT_10_TT_D  2015-06-02 00:00   0.23

In [9]:
df[df.duplicated(["CodigoEstacion","Etiqueta","Fecha","Valor"])]

Empty DataFrame
Columns: [CodigoEstacion, Etiqueta, Fecha, Valor]
Index: []

In [10]:
variable_files_extract_processed = '-'.join([f.split('.')[0] for f in variable_files_extract])
for e in df.Etiqueta.cat.categories:
    p = os.path.join(variable_path_base, f'var-{e}-{variable_files_extract_processed}.csv')
    print(f'{e} guardando en {p}...')
    df[df.Etiqueta == e].to_csv(p, index = False)
    print(f'*** guardado ***')

PT_10_TT_D guardando en ..\data\variables\var-PT_10_TT_D-limnigrafica_PT_10_TT_D_res-limnigrafica_res-limnimetrica_res.csv...
*** guardado ***
Q_MEDIA_D guardando en ..\data\variables\var-Q_MEDIA_D-limnigrafica_PT_10_TT_D_res-limnigrafica_res-limnimetrica_res.csv...
*** guardado ***
Q_MN_D guardando en ..\data\variables\var-Q_MN_D-limnigrafica_PT_10_TT_D_res-limnigrafica_res-limnimetrica_res.csv...
*** guardado ***
Q_MX_D guardando en ..\data\variables\var-Q_MX_D-limnigrafica_PT_10_TT_D_res-limnigrafica_res-limnimetrica_res.csv...
*** guardado ***