In [29]:
import os
import glob
import pandas as pd
from datetime import datetime

In [2]:
variable_path_base = r'../data/variables'
variable_files_pattern = f'var-TMX_CON.zip'

In [3]:
variable_path_base = variable_path_base.split('/')
variable_files = glob.glob(os.path.join(*variable_path_base, variable_files_pattern))
print(variable_files)

['..\\data\\variables\\var-TMX_CON.zip']

In [9]:
dtypes = {
    'CodigoEstacion':'category','Etiqueta':'category','Fecha': 'string'
}
#dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d %H:%M')

In [10]:
f = variable_files[0]
df = pd.read_csv(f, dtype = dtypes)#, parse_dates = ['Fecha'])#, index_col = ['Fecha', 'CodigoEstacion'])

In [13]:
df.head()

  CodigoEstacion Etiqueta             Fecha  Valor
0       11025010  TMX_CON  1991-01-01 00:00   20.0
1       11025010  TMX_CON  1991-01-02 00:00   20.4
2       11025010  TMX_CON  1991-01-03 00:00   20.6
3       11025010  TMX_CON  1991-01-04 00:00   21.8
4       11025010  TMX_CON  1991-01-05 00:00   21.2

In [12]:
df.tail()

        CodigoEstacion Etiqueta             Fecha  Valor
2525316       54025020  TMX_CON  23/02/2001 19:00   29.8
2525317       54025020  TMX_CON  24/02/2001 19:00   29.6
2525318       54025020  TMX_CON  25/02/2001 19:00   31.0
2525319       54025020  TMX_CON  27/02/2001 19:00   32.2
2525320       54025020  TMX_CON  28/02/2001 19:00   31.6

In [39]:
df.iloc[[0,2525319]]

        CodigoEstacion Etiqueta       Fecha  Valor
0             11025010  TMX_CON  1991-01-01   20.0
2525319       54025020  TMX_CON  2001-02-27   32.2

In [42]:
#https://stackoverflow.com/a/50129940/1828356
def autoconvert_datetime(value):
    formats = ['%Y-%m-%d %H:%M', '%d/%m/%Y %H:%M']
    result_format = '%Y-%m-%d %H:%M'
    for dt_format in formats:
        try:
            #print(dt_format, value)
            dt_obj = datetime.strptime(value, dt_format)
            return dt_obj.strftime(result_format)
        except Exception as e:
            #print(e)
            pass
    return value

In [45]:
df.Fecha = df.Fecha.apply(autoconvert_datetime)
#df.iloc[[0,2525319]].Fecha.apply(autoconvert_datetime)

In [48]:
etiqueta = df.iat[0,1]
p = os.path.join(*variable_path_base, f'var-{etiqueta}.csv')
df.to_csv(p, index = False)