In [1]:
import os
import pandas as pd

In [2]:
## Definir archivos para extraer las variables

In [2]:
variable_path_base = r'../data/variables'
variable_files_extract = ['pluviografica_PTPM_CON_res.zip', 'pluviografica_res.zip', 'pluviometrica_res.zip']
variable_files_extract = ['climatica_principal_res.zip', 'climatica_ordinaria_res.zip']
#variable_files_extract = ['limnigrafica_PT_10_TT_D_res.zip', 'limnigrafica_res.zip', 'limnimetrica_res.zip']

In [3]:
variable_path_base = os.path.join(*variable_path_base.split('/'))
variable_path_files_extract = [os.path.join(variable_path_base, f) for f in variable_files_extract]
variable_path_files_extract
#variable_files_path = f'{profiles_path_base}/*{profile_variable}_estacion_year.csv'
#print('Perfiles:', profile_files_path)

['..\\data\\variables\\climatica_principal_res.zip',
 '..\\data\\variables\\climatica_ordinaria_res.zip']

## Configurar qué columnas y con qué tipos de datos se cargaran

In [4]:
dtypes = {
    #'CodigoEstacion':'category',
    #'IdParametro':'category',
    #'Etiqueta':'category',
    #'DescripcionSerie':'category',
    #'Frecuencia':'category',
    #'Grado':'category',
    #'Calificador':'category',
    #'NivelAprobacion':'category',
    'Fecha': 'string',
}

usecols = {
    'CodigoEstacion',
    #'IdParametro',
    'Etiqueta',
    #'DescripcionSerie',
    #'Frecuencia',
    'Fecha',
    'Valor'
    #'Grado',
    #'Calificador',
    #'NivelAprobacion'
}

In [5]:
df = pd.concat([pd.read_csv(f, dtype = dtypes, usecols = usecols) for f in variable_path_files_extract], axis = 0)

In [6]:
df['CodigoEstacion'] = df['CodigoEstacion'].astype('category')
df['Etiqueta'] = df['Etiqueta'].astype('category')

In [7]:
print(df.shape)
print(df.Etiqueta.cat.categories)
print(df.dtypes)
print(df.info())
df.head()

(5230470, 4)
Index(['TMN_CON', 'TMX_CON'], dtype='object')
CodigoEstacion    category
Etiqueta          category
Fecha               string
Valor              float64
dtype: object
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5230470 entries, 0 to 3990275
Data columns (total 4 columns):
 #   Column          Dtype
---  ------          -----
 0   CodigoEstacion  category
 1   Etiqueta        category
 2   Fecha           string
 3   Valor           float64
dtypes: category(2), float64(1), string(1)
memory usage: 134.7 MB
None

  CodigoEstacion Etiqueta       Fecha  Valor
0       12045010  TMN_CON  1991-01-01   20.8
1       12045010  TMN_CON  1991-01-02   24.2
2       12045010  TMN_CON  1991-01-03   22.2
3       12045010  TMN_CON  1991-01-04   21.2
4       12045010  TMN_CON  1991-01-05   20.0

In [8]:
df[df.duplicated(["CodigoEstacion","Etiqueta","Fecha","Valor"])]

Empty DataFrame
Columns: [CodigoEstacion, Etiqueta, Fecha, Valor]
Index: []

In [9]:
variable_files_extract_processed = '-'.join([f.split('.')[0] for f in variable_files_extract])
for e in df.Etiqueta.cat.categories:
    p = os.path.join(variable_path_base, f'var-{e}-{variable_files_extract_processed}.csv')
    print(f'{e} guardando en {p}...')
    df[df.Etiqueta == e].to_csv(p, index = False)
    print(f'*** guardado ***')

TMN_CON guardando en ..\data\variables\var-TMN_CON-climatica_principal_res-climatica_ordinaria_res.csv...
*** guardado ***
TMX_CON guardando en ..\data\variables\var-TMX_CON-climatica_principal_res-climatica_ordinaria_res.csv...
*** guardado ***