## Loss Cover Month Matrix

In [49]:
import pandas as pd

pd.options.mode.chained_assignment = None  # default='warn'

import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
basins_org = pd.read_csv('../data/matrix/_Defor_acum x MC.csv', error_bad_lines = False, 
                         sep = ';')

In [3]:
basins_org.head(10)

,MC,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,1,0.006629,0.009186,0.012152,0.016174,0.021598,0.024888,0.027575,0.030853,0.036427,0.039454,0.046696,0.055337,0.056754,0.059528,0.061400,0.063649,0.069552,0.072060,0.074417
1,2,0.002907,0.005251,0.006273,0.008174,0.010958,0.014150,0.015492,0.019011,0.021865,0.023380,0.026800,0.031146,0.033438,0.036495,0.037961,0.041923,0.047890,0.050399,0.055496
2,3,0.001230,0.002730,0.003282,0.004034,0.005707,0.006506,0.008289,0.009977,0.011700,0.013289,0.014518,0.017161,0.017667,0.018392,0.018581,0.019436,0.023242,0.024156,0.025208
3,4,0.004829,0.009928,0.012273,0.017371,0.021373,0.025493,0.028694,0.031556,0.035394,0.038050,0.044998,0.048782,0.050437,0.053449,0.055059,0.060726,0.070108,0.074949,0.078842
4,5,0.001564,0.003552,0.004326,0.006348,0.008744,0.009745,0.011694,0.013444,0.015193,0.016631,0.018897,0.022730,0.023360,0.024250,0.024588,0.025368,0.027655,0.028596,0.030478
5,6,0.001459,0.003097,0.003825,0.004774,0.005696,0.006244,0.007369,0.008489,0.009751,0.010683,0.011817,0.013003,0.013796,0.014387,0.014710,0.015375,0.017979,0.018526,0.019637
6,7,0.001592,0.002878,0.003299,0.004853,0.006859,0.008516,0.009977,0.011511,0.013852,0.014916,0.017329,0.022449,0.023267,0.024824,0.025989,0.027629,0.029499,0.031011,0.032822
7,8,0.002146,0.003749,0.004466,0.005582,0.006677,0.008016,0.008905,0.010502,0.012398,0.013598,0.015030,0.016867,0.017481,0.018155,0.018672,0.019535,0.021530,0.022157,0.022636
8,9,0.000396,0.000539,0.000738,0.001086,0.001602,0.002008,0.002608,0.002893,0.003563,0.004041,0.004740,0.005452,0.005574,0.005650,0.005705,0.005812,0.005937,0.006040,0.006217
9,10,0.002295,0.007681,0.009583,0.012794,0.014402,0.017981,0.021888,0.025773,0.033130,0.034841,0.036578,0.039704,0.040849,0.044091,0.045689,0.048042,0.055200,0.060708,0.064813

In [4]:
basins_org.columns

Index(['MC', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019'],
      dtype='object')

In [5]:
basins_org.dtypes

MC        int64
2001    float64
2002    float64
2003    float64
2004    float64
2005    float64
2006    float64
2007    float64
2008    float64
2009    float64
2010    float64
2011    float64
2012    float64
2013    float64
2014    float64
2015    float64
2016    float64
2017    float64
2018    float64
2019    float64
dtype: object

### Year Month Sequence

In [19]:
month_seq = pd.date_range(start = '1/1/2000', end = '31/12/2019', freq = 'M')

month_seq = pd.DataFrame(month_seq)
month_seq.columns = ['date']

month_seq['year'] = pd.DatetimeIndex(month_seq['date']).year
month_seq['month'] = pd.DatetimeIndex(month_seq['date']).month

print(month_seq.dtypes)

month_seq.head()

date     datetime64[ns]
year              int64
month             int64
dtype: object

        date  year  month
0 2000-01-31  2000      1
1 2000-02-29  2000      2
2 2000-03-31  2000      3
3 2000-04-30  2000      4
4 2000-05-31  2000      5

### Variable FCL % ACUM

In [22]:
basins_fcl_p_acum_hz = basins_org[['MC', '2001', '2002', '2003', '2004', '2005', '2006',
                                   '2007', '2008', '2009', '2010', '2011', '2012', '2013',
                                   '2014', '2015', '2016', '2017', '2018', '2019']]

basins_fcl_p_acum_hz['2000'] = 0

basins_fcl_p_acum_hz = basins_fcl_p_acum_hz[['MC', '2000', '2001', '2002', '2003', '2004', 
                                             '2005', '2006', '2007', '2008', '2009', '2010', 
                                             '2011', '2012', '2013', '2014', '2015', '2016', 
                                             '2017', '2018', '2019']]

basins_fcl_p_acum_hz.columns = ['mc', '2000', '2001', '2002', '2003', '2004', '2005', 
                                '2006', '2007', '2008', '2009', '2010', '2011', '2012', 
                                '2013', '2014', '2015', '2016', '2017', '2018', '2019']

basins_fcl_p_acum_hz.head()

,mc,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,1,0,0.006629,0.009186,0.012152,0.016174,0.021598,0.024888,0.027575,0.030853,...,0.039454,0.046696,0.055337,0.056754,0.059528,0.061400,0.063649,0.069552,0.072060,0.074417
1,2,0,0.002907,0.005251,0.006273,0.008174,0.010958,0.014150,0.015492,0.019011,...,0.023380,0.026800,0.031146,0.033438,0.036495,0.037961,0.041923,0.047890,0.050399,0.055496
2,3,0,0.001230,0.002730,0.003282,0.004034,0.005707,0.006506,0.008289,0.009977,...,0.013289,0.014518,0.017161,0.017667,0.018392,0.018581,0.019436,0.023242,0.024156,0.025208
3,4,0,0.004829,0.009928,0.012273,0.017371,0.021373,0.025493,0.028694,0.031556,...,0.038050,0.044998,0.048782,0.050437,0.053449,0.055059,0.060726,0.070108,0.074949,0.078842
4,5,0,0.001564,0.003552,0.004326,0.006348,0.008744,0.009745,0.011694,0.013444,...,0.016631,0.018897,0.022730,0.023360,0.024250,0.024588,0.025368,0.027655,0.028596,0.030478

In [104]:
basins_fcl_p_acum = pd.melt(basins_fcl_p_acum_hz, id_vars = ['mc'], 
                       value_vars = ['2000', '2001', '2002', '2003', '2004', '2005', 
                                     '2006', '2007', '2008', '2009', '2010', '2011', 
                                     '2012', '2013', '2014', '2015', '2016', '2017', 
                                     '2018', '2019']).copy()

basins_fcl_p_acum.columns = ['mc', 'year', 'loss_cover']

print(basins_fcl_p_acum)

     mc  year  loss_cover
0     1  2000    0.000000
1     2  2000    0.000000
2     3  2000    0.000000
3     4  2000    0.000000
4     5  2000    0.000000
..   ..   ...         ...
955  44  2019    0.008183
956  45  2019    0.175550
957  46  2019    0.136277
958  47  2019    0.074097
959  48  2019    0.061027

[960 rows x 3 columns]

In [105]:
temp_df = basins_fcl_p_acum

temp_df['mc'] = pd.to_numeric(temp_df['mc'])
temp_df['year'] = pd.to_numeric(temp_df['year'])

temp_df = pd.merge(temp_df, month_seq, how = 'right', on = 'year')

temp_df.sort_values(by = ['mc', 'year', 'month'], inplace = True)

temp_df['month'] = pd.to_numeric(temp_df['month'])
temp_df.loc[temp_df['month'] > 1,'loss_cover'] = np.nan
temp_df.loc[(temp_df['year'] == 2000) & 
            (temp_df['month'] == 1),'loss_cover'] = 0

temp_df['type'] = 'real'
temp_df.loc[temp_df['month'] > 1,'type'] = 'interpolate'

list_basins = temp_df.mc.unique()

# Plotting

temp_df_list = []

for i in list_basins:
    temp_df_basin = temp_df[temp_df['mc'] == i].copy().reset_index()
    
    cond1 = (temp_df_basin['year'] == 2019) & (temp_df_basin['month'] == 1)
    cond2 = (temp_df_basin['year'] == 2018) & (temp_df_basin['month'] == 1)
    cond3 = (temp_df_basin['year'] == 2019) & (temp_df_basin['month'] == 12)
    
    loss_cov_ult_year = float(temp_df_basin.loss_cover[cond1])
    loss_cov_pen_year = float(temp_df_basin.loss_cover[cond2])
        
    porc_ults_years = (loss_cov_ult_year / loss_cov_pen_year) - 1
    loss_cover_dec_ult_year = loss_cov_ult_year * (1 + porc_ults_years) 
    
    #print(type(loss_cov_ult_year))
    #print('mc ', i)
    #print('loss_cov_ult_year ', float(loss_cov_ult_year))
    #print('loss_cov_pen_year ', float(loss_cov_pen_year))
    #print('porc_ults_years ', float(porc_ults_years))
    #print('loss_cov_pen_year ', float(loss_cov_pen_year), '\n')
    
    temp_df_basin.loc[cond3, 'loss_cover'] = loss_cover_dec_ult_year
    temp_df_basin.loc[cond3, 'type'] = 'calculated'
   
    #temp_df_basin.to_csv('../temp/tmp.csv', index = False)
    
    #temp_df_basin.interpolate(method = 'polynomial', order = 3, inplace = True)
    temp_df_basin.interpolate(method = 'linear', inplace = True)
    temp_df_basin.set_index(keys = ['date'], inplace = True, drop = True)
    temp_df_list.append(temp_df_basin)
    
    #main_title = 'Loss cover for macro basin ' + str(i)
    #fig, axes = plt.subplots(figsize=(15,5))
    #temp_df_basin.plot(y = 'loss_cover', title = main_title, color = 'red', ax = axes)
    #plt.show()

temp_df = pd.concat(temp_df_list)
temp_df.to_csv('../temp/tempo.csv')

temp_df = temp_df[['mc', 'year', 'month', 'type', 'loss_cover']]

basins_fcl_p_acum = temp_df.copy()
print(basins_fcl_p_acum.tail(30))

            mc  year  month         type  loss_cover
date
2017-07-31  48  2017      7  interpolate    0.052150
2017-08-31  48  2017      8  interpolate    0.052818
2017-09-30  48  2017      9  interpolate    0.053485
2017-10-31  48  2017     10  interpolate    0.054152
2017-11-30  48  2017     11  interpolate    0.054820
2017-12-31  48  2017     12  interpolate    0.055487
2018-01-31  48  2018      1         real    0.056155
2018-02-28  48  2018      2  interpolate    0.056561
2018-03-31  48  2018      3  interpolate    0.056967
2018-04-30  48  2018      4  interpolate    0.057373
2018-05-31  48  2018      5  interpolate    0.057779
2018-06-30  48  2018      6  interpolate    0.058185
2018-07-31  48  2018      7  interpolate    0.058591
2018-08-31  48  2018      8  interpolate    0.058997
2018-09-30  48  2018      9  interpolate    0.059403
2018-10-31  48  2018     10  interpolate    0.059809
2018-11-30  48  2018     11  interpolate    0.060215
2018-12-31  48  2018     12  interpolate    0.060621
2019-01-31  48  2019      1         real    0.061027
2019-02-28  48  2019      2  interpolate    0.061509
2019-03-31  48  2019      3  interpolate    0.061990
2019-04-30  48  2019      4  interpolate    0.062471
2019-05-31  48  2019      5  interpolate    0.062953
2019-06-30  48  2019      6  interpolate    0.063434
2019-07-31  48  2019      7  interpolate    0.063916
2019-08-31  48  2019      8  interpolate    0.064397
2019-09-30  48  2019      9  interpolate    0.064878
2019-10-31  48  2019     10  interpolate    0.065360
2019-11-30  48  2019     11  interpolate    0.065841
2019-12-31  48  2019     12   calculated    0.066323

In [106]:
basins_fcl_p_acum.to_csv('../temp/FCL316Basins_month.csv', index = False)

In [53]:
basins_fcl_p_acum.to_csv('../data/matrix/FCL316Basins_month.csv.zip', index = False, 
                         compression = 'zip')